%h1 Profil
%p
  %h3
    Mail:
  %br
  =@user.email
  %h3
    Grupy:
  -@groups.each do |group|
    =link_to group.name ,group_path(group)
    %br
  %h3
    Zaproszenia:
  -if current_user == @user
    -@invitations.each do |inv|
      =link_to inv.group.name ,group_path(inv.group)
      =form_for @membership, :url => invite_profile_path(@user) do |f|
        =f.select(:accept, options_for_select(  [["Accept", 1], ["Reject", 0]] )    )
        =hidden_field_tag :inv, inv.id
        =f.submit "OK"
      %br
  %br

